@import "../helper/colorchips";
@import "../helper/mixins";

body {
  #patContents {
    width: 924px;
    margin: 0 auto;

    // 작품 지원
    .apply {
      position: relative;
      width: 100%;
      margin: 42px 0 0 0;

      // 타이틀
      .title {
        font-size: 14px;
        font-weight: 500;
        line-height: 2.14;
        letter-spacing: -0.3px;
        color: $black;
      }

      .exhibitionTitle {
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: -0.3px;
        color: $greyish-brown;
      }

      // 메시지
      .message {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        font-weight: 200;
        line-height: 1.5;
        letter-spacing: -0.4px;
        color: $black;

        .underline {
          display: inline-block;
          border-bottom: 1px solid $black;
          font-weight: 400;
        }

      }
      // -- 메시지

      // 취소, 등록 버튼
      .buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;

        .cancelBtn, .registerBtn {
          padding: 8px 27px;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 16px;
          font-weight: normal;
          text-decoration: none;
          outline: none;
          @include prefix(border-radius, 30px);
        }

        .cancelBtn {
          color: $black-five;
          border: 1px solid $greyish-six;
          margin-right: 10px;

          &:hover {
            border: 1px solid $warm-grey-two;
            color: $black;
          }
        }
        .registerBtn {
          color: $white-two;
          background: $pinkish-grey-two;
          border: none;

          &:hover:enabled {
            background: $black-seven;
          }
        }
      }
      // -- 취소, 등록 버튼
    } // .apply

    .divider {
      height: 0px;
      border: solid 1px $warm-grey-five;
    }

    .reasonInput {
      width: 100%;
      height: 80px;
      padding: 15px 25px;
      border: solid 1px $white-nine;

      textarea {
        width: 100%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: #262626;
        resize: none;
        outline: none;
        border: none;
      }
    }


    .applyTitle {
      font-size: 15px;
      font-weight: 500;
      line-height: 2.0;
      letter-spacing: -0.3px;
      color: $black;
    }

    .selected {
      font-size: 15px;
      line-height: 2.0;
      letter-spacing: -0.3px;
      color: #5376f3;
    }

    // 선택 텍스트
    .select {
      font-size: 12px;
      line-height: 2.5;
      letter-spacing: -0.2px;
      color: $warm-grey-two;
    }

    // -- 작품 지원

    // 작품 선택 그리드 목록
    .patItemList {
      margin: 18px 0 0 0;

      .container {
        padding: 0;
        margin: 0;

        .artworkList {
          list-style: none;
          padding: 0;
          margin: 0;

          .item {
            position: relative;
            float: left;
            cursor: pointer;
            z-index: 100;
            width: 166px;
            height: 166px;
            margin: 0 0 20px 0;

            &:not(.fifth) {
              margin-right: 16px;
            }

            .inReviewStatus, .acceptedStatus {
              display: none;
              font-family: 'Noto Sans KR', sans-serif;
              font-size: 12px;
            }

            .dimm {
              display: none;
              z-index: 10;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              background: $black-66;
            }

            .icon {
              width: 20px;
              height: 20px;
              margin: 0 auto 4px auto;
            }

            &.in_review {
              .dimm {
                display: block;
              }

              .inReviewStatus {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -29px;
                margin-top: -20px;
                z-index: 11;
                color: $white-two;

                .icon {
                  background: url(/static/images/pending.png) no-repeat;
                }

                display: block;
              }
            }

            &.accepted {
              .dimm {
                display: block;
              }

              .acceptedStatus {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -29px;
                margin-top: -20px;
                z-index: 11;
                color: $white-two;

                .icon {
                  background: url(/static/images/picked.png) no-repeat;
                }

                display: block;
              }
            }

            label {
              cursor: pointer;
              position: relative;
              width: 166px;
              height: 166px;
              margin: 0;

              .imageThumb {
                z-index: 2;
                position: absolute;
                left: 0;
                top: 0;
                width: 166px;
                height: 166px;
                border: solid 1px $black-10;
              }
            }

            .box {
              display: none;
            }

            input[type=checkbox] {
              position: absolute;
              width: 1px;
              height: 1px;
              padding: 0;
              margin: -1px;
              overflow: hidden;
              clip: rect(0, 0, 0, 0);
              border: 0;
            }

            input[type=checkbox]:checked + label {
              display: inline-block;
              position: relative;
              cursor: pointer;
              @include prefix(user-select, none);
            }

            input[type=checkbox] + label:before {
              position: absolute;
              z-index: 3;
              content: '';
              display: inline-block;
              width: 166px;
              height: 166px;
            }

            input[type=checkbox] + label:hover {
              &:before {
                outline: 4px solid #5082e2;
              }
            }

            input[type=checkbox]:checked + label:before {
              z-index: 3;
              outline: 4px solid #5082e2;
            }

            input[type=checkbox]:checked + label + .box {
              z-index: 4;
              position: absolute;
              display: block;
              top: 0;
              right: 0;
              width: 36px;
              height: 36px;
              padding: 8px 0 8px 2px;
              background: #5082e2;
              color: $white-two;
              text-align: center;
            }
          }
        }
      }
    }
    // -- 작품 선택 그리드 목록
  }
}

