{% extends "base.twig" %}

{% block contents %}
    <div>
        이메일
        <input id="email"/>
    </div>
    <div>
        패스워드
        <input id="password"/>
    </div>
    <div>
        <button class="ui button" id="join">로그인</button>
	      <a class="ui button green" href="/signup">회원가입</a>
    </div>
    <div>{{ user.email }} {{ user.auth }}</div>
    </body>

    <script>
        $('#join').click(function () {
            $.ajax({
                method: "POST",
                url: "/api/login",
                data: {
                    email: $("#email").val(),
                    password: $("#password").val()
                }
            }).done(function (data) {
                alert(data);
            })
        });
    </script>

{% endblock %}
