{% extends "base.twig" %}

{% block script %}
	<script>
		$('#login_form').submit(function () {
			var emailOrUsernameElem = $("input[name=email_or_username]");
			var passwordElem = $("input[name=password]");
			
			if (!emailOrUsernameElem.val()) {
				alert('이메일 또는 유저 아이디를 입력해주세요.');
				emailOrUsernameElem.focus();
				return false;
			}
			if (!passwordElem.val()) {
				alert('패스워드를 입력해주세요.');
				passwordElem.focus();
				return false;
			}
			
			data = {};
			data.email_or_username = emailOrUsernameElem.val();
			data.password = passwordElem.val();
			
			$.ajax({
				method: "POST",
				url: "/api/login",
				data: data
			}).done(function (data) {
				alert(data.body.message);
				if (data.result === true) {
					location.href = '/';
				}
			}).fail(function () {
			    alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
			});
			
			return false;
		});
	</script>
{% endblock %}

{% block contents %}
	<form id="login_form" class="ui form">
		<div class="field">
			<label>이메일 주소/유저 아이디</label>
			<input type="text" name="email_or_username" placeholder="Email or Username">
		</div>
		<div class="field">
			<label>패스워드</label>
			<input type="password" name="password" placeholder="Secret">
		</div>
		<button class="ui green button" type="submit">로그인</button>
	</form>
{% endblock %}
