{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="../../static/dist/css/main/main.min.css">
{% endblock %}

{% block contents %}
  <div class="patGallery">
    <div class="container">
      <h1>Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="patTypeSelect">
    <ul class="typeSelectTab">
      <li><a {% if type == 'artworks' %}class="active"{% endif %} href="?type=artworks">ARTIST</a></li>
      <li><a {% if type == 'places' %}class="active"{% endif %} href="?type=places">SPACE</a></li>
    </ul>
    <div class="divider"></div>
  </div>

  <div class="patItemList">
    <div class="container">
      <ul class="itemList">
        {% for item in items %}
          <li class="item {% if (loop.index % 3) == 0 %}third{% endif %} {% if loop.first %}picked{% endif %}">
            <a href="/{{ type }}/{{ item.id }}">
              <div class="imgThumb">
                <div class="dimm"></div>
                <div class="preview">
                  미리 보기 <i class="glyphicon glyphicon-menu-right"></i>
                </div>
                <div class="pick">
                  <img src="../../static/images/pick_normal.png" />
                </div>
                <img class="img" src="http://cfile5.uf.tistory.com/image/2341BF3B51261D2B0685D4" />
              </div>
              <div class="meta">
                <div class="pick">
                  <span class="bold">PICK</span> 364
                </div>
                <div class="title">{{ item.title }}</div>
                <div class="name">김종인</div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="patItemMore">
    <button class="patItemMoreButton">
      더 보기 <i class="glyphicon glyphicon-menu-down"></i>
    </button>
  </div>
{% endblock %}
