{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/account/not_auth.min.css' | static_url }}">
{% endblock %}

{% block contents %}
  <div class="patContainer">
    <!-- == 로고 -->
    <div class="logo"></div>
    <!-- //== 로고 -->
    <!-- == 타이틀 -->
    <div class="title">잠자고 있는 여러분의 작품을 깨워주세요.</div>
    <!-- //== 타이틀 -->
    <!-- == 재발송 폼 -->
    <div class="resendForm">
      <form method="POST">
        <input type="hidden" name="resend" value="1">
        {% if msg is null %}
          <div class="notAuthMessage">
            아직 이메일 인증이 완료되지 않았습니다.
          </div>
        {% else %}
          <div class="resendMessage">
            {{ msg }}
          </div>
        {% endif %}
        <p>
          혹시, 메일을 못받으셨다면 스팸함이나 휴지통을 봐주세요<br/>
          또는 <span>다시 인증 이메일 받기</span>를 눌러주세요 :)
        </p>
        <button type="submit">다시 인증 이메일 받기</button>
        <p><a id="logoutBtn" href="/account/logout">로그아웃 하기</a></p>
      </form>
    </div>
    <!-- //== 재발송 폼 -->
  </div>
{% endblock %}
