{% extends "base.twig" %}

{% block contents %}
    {% if email %}
        {{ email }}로 임시 비밀번호를 보내드렸습니다. 아직 메일을 받지 못하셨나요?
    {% else %}
        아래 이메일로 임시 비밀번호를 보내드릴께요.
    {% endif %}

    <form class="ui form" method="POST" action="/account/reset_password">
        <input type="email" name="email" placeholder="이메일을 입력해 주세요">
        <button class="ui green button" type="submit">발송하기</button>
    </form>
{% endblock %}