{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="../../static/dist/css/account/signup.min.css">
{% endblock %}

{% block script %}
  <script>
    function usernameCheck() {
      var username = document.getElementsByName("user_name")[0].value;
      var checkUsername = /^[A-Za-z0-9)(-_]{1,20}$/;

      if(!username) {
        document.getElementById("checkId").innerText = "유저 아이디가 입력되지 않았습니다.";
        $("#checkId").css("color", "red");
        $("#checkId").attr("value", "uncheck");
        return;
      }
      if(!username.match(checkUsername)) {
        document.getElementById("checkId").innerText = "아이디는 영어, 숫자, _, -, (, ) 만 입력 가능합니다.";
        $("#checkId").css("color", "red");
        $("#checkId").attr("value", "uncheck");
        return;
      }

      data = {
        username: username
      }
      $.ajax({
        method: "GET",
        url: "/api/users/check_username",
        data: data,
      }).done(function (data) {
        document.getElementById("checkId").innerText = data.body.message;
        if(data.result) {
          $("#checkId").css("color", "green");
          $("#checkId").attr("value", "check");
        }else {
          $("#checkId").css("color", "red");
          $("#checkId").attr("value", "uncheck");
        }
      }).fail(function (data) {
        alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
      });
    }

    function emailCheck() {
      var email = document.getElementsByName("email")[0].value;
      var checkEmail = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;

      if(!email) {
        $("#checkEmail").css("color", "red");
        $("#checkEmail").attr("value", "uncheck");
        document.getElementById("checkEmail").innerText = "이메일이 입력되지 않았습니다.";
        return;
      }
      if(!email.match(checkEmail)) {
        $("#checkEmail").css("color", "red");
        $("#checkEmail").attr("value", "uncheck");
        document.getElementById("checkEmail").innerText = "올바른 이메일 주소를 입력해주세요.";
        return;
      }

      data = {
        email: email
      }
      $.ajax({
        method: "GET",
        url: "/api/users/check_email",
        data: data,
      }).done(function (data) {
        document.getElementById("checkEmail").innerText = data.body.message;
        if(data.result) {
          $("#checkEmail").css("color", "green");
          $("#checkEmail").attr("value", "check");
        }else {
          $("#checkEmail").css("color", "red");
          $("#checkEmail").attr("value", "uncheck");
        }
      }).fail(function (data) {
        alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
      });
    }

    $('#patSignUpForm').submit(function () {

      if($("#checkEmail").attr("value") === "uncheck"
        || $("#checkId").attr("value") === "uncheck") {
        alert('정보를 바르게 입력해주세요.');
        return false;
      }

      var emailElem = $("input[name=email]");
      var passwordElem = $("input[name=password]");
      var usernameElem = $("input[name=user_name]");

      if (!passwordElem.val()) {
        alert('패스워드를 입력해주세요.');
        passwordElem.focus();
        return false;
      }

      $.ajax({
        method: "POST",
        url: "/api/users/register",
        processData: false, // To send file
        contentType: false, // To send file
        data: new FormData($(this)[0])
      }).done(function (data) {
        alert(data.body.message);
        if (data.result === true) {
          location.href = '/';
        }
      }).fail(function () {
        alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
      });

      return false;
    });
  </script>
{% endblock %}

{% block contents %}
  <div class="patSignUp">
    <div class="container">
      <div class="logo">
        <img src="../../static/images/logo_black.png" width="268px"/>
      </div>
      <h2>가입하여 여러분의 작품을 전시하세요.</h2>
      <form id="patSignUpForm">
        <fieldset class="patUserTypeField">
          <div class="radio checkbox">
            <input id="creatorType" type="radio" name="type" checked="checked" value="0">
            <label for="creatorType">창작자</label>
          </div>
          <div class="radio checkbox">
            <input id="placeType" type="radio" name="type" value="1">
            <label for="placeType">공간소유자</label>
          </div>
        </fieldset>
        <fieldset>
          <input type="text" name="email" placeholder="이메일" onkeyup="emailCheck()"/>
          <div id="checkEmail" value="uncheck"></div>
        </fieldset>
        <fieldset>
          <input type="text" name="user_name" placeholder="아이디" onkeyup="usernameCheck()" />
          <div id="checkId" value="uncheck"></div>
        </fieldset>
        <fieldset>
          <input type="password" name="password" placeholder="패스워드를 입력하세요." />
        </fieldset>
        <fieldset>
          <input type="file" name="profile_image"/>
        </fieldset>
        <button type="submit">회원가입</button>
      </form>
    </div>
  </div>
{% endblock %}
