@import "helper/colorchips";

/* 기본 설정 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, 'Noto Sans KR', sans-serif;
  padding: 50px 0 20px 0;

  .container {
    width: 968px;
  }
}

body {
  /* 상단 메뉴 */
  #patTop {
    background: $black-five; height: 52px;

    .container {
      nav {
        ul {
          li {
            &:not(:first-child) {
              a {
                &:before {
                  position: absolute; top: 0; bottom: 0;
                  width: 1px; height: 100%; content:""; margin-left: -18px;
                  background: $white-two; opacity: 0.1;
                }
              }
            }

            a {
              font-weight: normal; font-style: normal; color: $white-two;
              padding: 16px 18px;
            }

            &.patUserProfile {
              a {
                font-family: 'Noto Sans KR'; font-size: 12px; color: $pinkish-grey-two;
                padding: 15px 18px;

                img {
                  width: 26px; height: 26px; margin: -5px 6px 0 0;
                }
              }
            }
          }
        }
      }
    }
  }

  #patFooter {
    background: $white-five; height: 200px;
  }
}
