{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/places/apply.min.css' | static_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/main/main.min.css' | static_url }}">
{% endblock %}

{% block contents %}
  <div class="top">
    <div class="message">
    전시를 원하는 작품을 선택하신 후<br>
      <span class="what">지원하기 버튼을 누르시면 해당 장소 대표님께 전달</span>됩니다!
    </div>
    <div class="buttons">
      <a href="javascript:window.close();" class="cancelBtn">취소하기</a>
      <button type="submit" class="registerBtn">지원하기</button>
    </div>
  </div>
  
  <div class="patItemList">
    <div class="container">
      <ul class="itemList artworkList">
        {% for artwork in artworks %}
          <li class="item {% if (index % 3) == 0 %}third{% endif %}">
            <div class="wrap" data-type="artworks" data-id="{{ artwork.id }}">
              <div class="imgThumb">
                <div class="dimm"></div>
                <div class="preview">
                  미리 보기 <i class="glyphicon glyphicon-menu-right"></i>
                </div>
                <img class="img" src="{{ artwork.image | thumb_url }}"/>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <form method="POST">
    <input type="text" name="artwork_id[]" value="36">
    <input type="text" name="artwork_id[]" value="48">
    <button type="submit">전송</button>
  </form>
{% endblock %}


