{% extends "base.twig" %}

{% block contents %}

    삭제
    <form class="ui form" method="POST" enctype="multipart/form-data" action="/api/comment/delete">
        <div class="field">
            <label>type</label>
            <input type="text" name="type" placeholder="" value="place">
        </div>
        <div class="field">
            <label>place_comment_id</label>
            <input type="text" name="place_comment_id" placeholder="" value="1">
        </div>

        <button class="ui button" type="submit">Submit</button>
    </form>

{% endblock %}
