@import "../helper/colorchips";
@import "../helper/mixins";

// 댓글
.commentArea {
  width: 875px;
  margin: 46px auto 0 auto;

  // 타이틀
  .title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: $black-four;
    margin: 0 0 9px 0;

    .number {
      font-family: Helvetica, sans-serif;
      font-size: 18px;
      font-weight: normal;
      color: $warm-grey-seven;
    }
  }
  // -- 타이틀
  // 구분선
  .divider {
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: $black;
    color: $black;
    opacity: 0.3;
  }
  // 댓글 더보기
  .commentMore {
    width: 100%;
    height: 44px;
    // TODO: 컬러칩 정리
    border-bottom: 1px solid #E8E8E8;

    .commentMoreBtn {
      width: 100%;
      height: 44px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 12px;
      color: $warm-grey-four;
      margin: 0 auto;
      border: none;
      background: none;
      outline: none;
    }
  }
  // -- 댓글 더보기
  // 댓글 목록
  .comments {
    width: 100%;
    margin: 0 0 28px 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding: 30px 0 27px 0;
      // TODO: 컬러칩 정리
      border-bottom: 1px solid #E8E8E8;

      // 프로필 이미지
      .profileImage {
        position: absolute;
        width: 36px;
        height: 36px;

        img {
          width: 100%;
          height: 100%;
        }
      }
      // -- 프로필 이미지

      // 내용
      .content {
        position: relative;
        margin: 0 0 0 50px;

        .meta {
          float: left;
          margin: 0 0 3px 0;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 12px;
          font-weight: bold;
          color: $greyish-brown;

          .regDate {
            color: $pinkish-grey-three;
            font-weight: normal;
          }
        }
        .comment {
          width: 590px;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 14px;
          color: $warm-grey-six;
          clear: both;
        }
        // 수정, 삭제 버튼
        .buttons {
          position: absolute;
          top: 0;
          right: 0;

          button {
            border: none;
            outline: none;
            background: none;
            display: inline-block;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 12px;
            color: $warm-grey-four;
          }

          .commentEditBtn {
            margin-right: 14px;

            &:after {
              position: absolute;
              content: '';
              width: 1px;
              height: 12px;
              background: $white;
              right: 50%;
              top: 50%;
              margin: -6px 0 0 0;
            }
          }
        }
        // -- 수정, 삭제 버튼

        // 댓글 수정 폼
        .commentEditForm {
          clear: both;
          display: none;

          &.active {
            display: block;

            textarea {
              color: $black;
            }
          }

          textarea {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
            width: 590px;
            resize: none;
            border: none;
            outline: none;
          }

          .buttons {
            position: absolute;
            top: 0;
            right: 0;

            .commentEditSubmit {
              position: relative;
              color: $black;

              &:after {
                position: absolute;
                content: '';
                width: 1px;
                height: 12px;
                background: $white;
                right: -8px;
                top: 50%;
                margin: -6px 0 0 0;
              }
            }

            .commentEditCancelBtn {
              position: relative;
              color: $lipstick;

              &:after {
                position: absolute;
                content: '';
                width: 1px;
                height: 12px;
                background: $white;
                right: -10px;
                top: 50%;
                margin: -6px 0 0 0;
              }
            }

            .commentEditSubmit, .commentEditCancelBtn {
              margin-right: 14px;
            }

            button {
              border: none;
              outline: none;
              display: inline-block;
              font-family: 'Noto Sans KR', sans-serif;
              font-size: 12px;
              color: $warm-grey-four;
            }
          }
        }
        // -- 댓글 수정 폼
      }
      // -- 내용
    }
  }
  // -- 댓글 목록
}
// -- 댓글

// 댓글 입력
.commentForm {
  position: relative;
  width: 875px;
  height: 100px;
  margin: 0 auto;

  // 댓글 입력창
  .commentInput {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: $warm-grey-four;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    border: 1px solid $black-10;
    resize: none;
    outline: none;

    @include placeholder {
      color: $warm-grey-four;
    }

    &:focus, &:active {
      border: 1px solid $warm-grey-nine;
    }
  }
  // -- 댓글 입력창

  // 댓글 입력 버튼
  button[type=submit] {
    position: absolute;
    bottom: 15px;
    right: 13px;
    width: 70px;
    height: 35px;
    background: none;
    border: 1px solid $white-eleven;
    outline: none;
    @include prefix(border-radius, 30px);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: $greyish-brown;

    &:hover {
      color: $white-two;
      background: $greyish-brown;
    }
  }
  // -- 댓글 입력 버튼
}
// -- 댓글 입력
