@import "../helper/colorchips";
@import "../helper/mixins";

body {
  #patDetail {
    .container {
      position: relative;
      width: 875px;
      margin: 46px auto 0 auto;

      // 공통 - 팝업 이미지
      .popupImage {
        cursor: pointer;
      }

      // 장소명
      .meta {
        margin: 0 0 26px 0;
        text-align: center;

        // 장소명
        .title {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 24px;
          font-weight: 500;
          letter-spacing: -0.5px;
          color: $black;
          margin: 0 0 4px 0;
        }
        // 대표
        .place {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 13px;
          font-weight: normal;
          letter-spacing: -0.3px;
          color: $warm-grey-four;

          .placeKeyword {
            display: inline-block;
            position: relative;

            &:after {
              position: absolute;
              top: 50%;
              margin-top: -6px;
              width: 1px;
              height: 12px;
              content: "";
              background: $black;
              opacity: 0.1;
              margin-left: 38px;
            }

            .pin {
              position: absolute;
              display: inline-block;
              margin-top: 3px;
              width: 8px;
              height: 12px;
              background: url(/static/images/pin.png) no-repeat;
            }
            .keyword {
              display: inline-block;
              margin-left: 13px;
            }
          }

          .address {
            display: inline-block;
            margin-left: 14px;
          }
        }
      }
      // -- 장소명

      // 드랍 다운 메뉴
      .dropdown {
        position: absolute;
        top: 0;
        right: 0;

        .dropdown-toggle {
          font-size: 14px;
          background: $white-two;
          border: none;
          outline: none;

          .icon {
            width: 5px;
            height: 25px;
            background: url(/static/images/detail_option_vertical.png) no-repeat;
          }

          &:hover {
            .icon {
              background: url(/static/images/detail_option_vertical_hover.png);
            }
          }
        }

        .dropdown-menu {
          min-width: 120px;
          @include prefix(border-radius, 0px);
          @include prefix(box-shadow, none);
          padding: 0;

          li {
            a {
              font-family: 'Noto Sans KR', sans-serif;
              font-size: 14px;
              color: $greyish-brown;
              cursor: pointer;
              padding: 16px 0;
              text-align: center;
            }

            &:not(:first-child) {
              border-top: 1px solid $white;
            }
          }
        }
      }
      // -- 드랍 다운 메뉴

      // 장소 이미지
      .places {
        margin: 0 auto;
        text-align: center;

        // 메인 이미지
        .mainThumbnail {
          .mainImage {
            max-width: 875px;
            height: 462px;

            margin: 0 auto 37px auto;

            .image {
              position: relative;
              cursor: pointer;
              width: 100%;
              height: 100%;

              &:hover {
                .dimm, .preview {
                  display: block;
                }
              }

              .dimm {
                z-index: 3;
                width: 100%;
                height: 100%;
                background: rgb(51, 51, 51);
                opacity: 0.6;
                display: none;
                position: absolute;
                left: 0;
                top: 0;
              }
              .preview {
                z-index: 4;
                color: $white-two;
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 16px;
                width: 100%;
                text-align: center;
                position: absolute;
                top: 50%;
                margin-top: -15px;
                display: none;

                i {
                  font-size: 8px;
                  margin: 7px 0 0 6px;
                  position: absolute;
                }
              }

              img {
                margin: 0;
                padding: 0;
                z-index: 2;
                width: 100%;
                height: 462px;
              }
            }
          }
        }
        // -- 메인 이미지
        // 추가 이미지
        .additionalImages {
          position: relative;
          width: 875px;
          margin: 0 auto;

          // 슬라이더
          .slider {
            width: 755px;
            height: 120px;
            overflow: hidden;
            margin: 42px auto 0 auto;
            padding: 0;

            &.deactivate {
              text-align: center;

              .item {
                display: inline-block;
              }
            }

            :not(.deactivate) {
              .item {
                float: left;
              }
            }

            .item {
              width: 120px;
              height: 120px;
              outline: none;

              &:not(:first-child) {
                margin-left: 7px;
              }

              &:hover {
                .imgThumbnail {
                  .dimm, .preview {
                    display: block;
                  }
                }
              }

              .imgThumbnail {
                position: relative;
                cursor: pointer;
                width: 120px;
                height: 120px;
                // TODO: 컬러칩 정리
                border: 1px solid #E8E8E8;

                .dimm {
                  z-index: 3;
                  width: 100%;
                  height: 100%;
                  background: rgb(51, 51, 51);
                  opacity: 0.6;
                  display: none;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                .preview {
                  z-index: 4;
                  color: $white-two;
                  font-family: 'Noto Sans KR', sans-serif;
                  font-size: 12px;
                  width: 100%;
                  text-align: center;
                  position: absolute;
                  top: 50%;
                  margin-top: -8px;
                  display: none;
                }

                img {
                  z-index: 2;
                  width: 100%;
                  height: 100%;
                  outline: none;
                }
              }
            }
          }
          // -- 슬라이더

          // 슬라이더 컨트롤
          .sliderPrevBtn, .sliderNextBtn {
            position: absolute;
            top: 50%;
            margin-top: -21px;
            width: 22px;
            height: 42px;
            border: none;
            outline: none;
          }

          .sliderPrevBtn {
            left: 0;
            background: url(/static/images/detail_slider_left_btn.png);
          }
          .sliderNextBtn {
            right: 0;
            background: url(/static/images/detail_slider_right_btn.png);
          }
          // -- 슬라이더 컨트롤
        }
        // -- 추가 이미지
      }
      // -- 장소 이미지

      // 대표의 한마디
      .placeCommentary {
        position: relative;
        width: 875px;
        padding: 26px 30px 43px 30px;
        margin: 48px auto 0 auto;
        border: 1px solid $white-eight;
        min-height: 168px;
        @include prefix(border-radius, 2px);

        // 기본 정보
        .meta {
          position: relative;
          text-align: left;

          div, ul {
            float: left;
          }

          // 프로필 이미지
          .profileImage {
            width: 42px;
            height: 42px;

            img {
              width: 100%;
              height: 100%;
              border: 1px solid $white-three;
            }
          }
          // -- 프로필 이미지
          .says {
            margin: 10px 0 0 8px;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: $black;
            letter-spacing: -0.4px;

            a {
              color: $black;
            }
          }
          // 장소 상태
          .status {
            margin: 12px 0 0 11px;
            padding: 0;
            list-style: none;

            li {
              float: left;
              font-family: 'Noto Sans KR', sans-serif;
              font-size: 13px;
              letter-spacing: -0.3px;

              &.exhibition {
                color: $warm-blue;

                &.display {
                  color: $dull-orange;
                }
              }

              &.fee {
                color: $bluish;
              }

              &.exhibition_available_count {
                color: $greyish-four;
                font-weight: 300;
              }

              &:not(:first-child) {
                margin-left: 16px;

                &:before {
                  position: absolute;
                  top: 50%;
                  margin-top: 15px;
                  width: 1px;
                  height: 12px;
                  content: "";
                  background: $black;
                  opacity: 0.1;
                  margin-left: -8px;
                }
              }
            }
          }
          // -- 장소 상태
        }
        // -- 기본 정보
        // 장소 설명
        .commentary {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 14px;
          line-height: 1.5;
          letter-spacing: normal;
          color: $warm-grey-six;
          padding: 8px 139px 4px 0;
          clear: both;
        }
        // -- 장소 설명
        // 태그
        .tags {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 12px;
          line-height: 2.0;
          color: $bluegrey;
        }
        // -- 태그
        // 픽
        .pick {
          position: absolute;
          top: 29px;
          right: 27px;
          width: 112px;
          height: 112px;

          .pickBtn {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            outline: none;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            background: $white-two;
            border: 1px solid $pinkish-grey-four;
            color: $brownish-grey;

            &.active {
              border: none;
              color: $white-two;
              background-image: linear-gradient(135deg, #30d9ec, #69f1c7);
            }

            .number {
              font-weight: normal;
            }
          }
        }
        // -- 픽
      }
      // -- 대표의 한마디

      // 전시 지원 방법
      .contactTo {
        width: 875px;
        height: 64px;
        background: $white-fifteen;
        border: 1px solid $white-fourteen;
        padding: 0;
        margin: 20px 0 0 0;
        list-style: none;

        li {
          position: relative;
          float: left;
          width: 100%;
          padding: 18px 30px;
          text-align: center;
          cursor: pointer;

          &.half {
            width: 50%;
              // 구분선
              &:after {
                position: absolute;
                top: 50%;
                margin-top: -11px;
                width: 1px;
                height: 22px;
                content: "";
                background: $white-eleven;
                right: 0;
              }
              // -- 구분선
          }

          &.email {
            a {
              position: relative;
              padding-left: 38px;

              &:before {
                position: absolute;
                content: '';
                margin-left: -38px;
                margin-top: 2px;
                width: 25px;
                height: 20px;
                background: url(/static/images/detail_mail_to_icon.png) no-repeat;
              }
            }

            &:hover {
              a {
                color: $black;

                &:before {
                  background: url(/static/images/detail_mail_to_icon_hover.png) no-repeat;
                }
              }
            }
          }

          &.apply {
            a {
              position: relative;
              padding-left: 38px;

              &:before {
                position: absolute;
                content: '';
                margin-left: -38px;
                margin-top: 2px;
                width: 27px;
                height: 20px;
                background: url(/static/images/detail_apply_icon.png) no-repeat;
              }
            }

            &:hover {
              a {
                color: $black;

                &:before {
                  background: url(/static/images/detail_apply_icon_hover.png) no-repeat;
                }
              }
            }
          }

          a {
            width: 100%;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px;
            letter-spacing: -0.3px;
            color: $greyish-brown;
            text-decoration: none;
          }
        }
      }
      // -- 전시 지원 방법

      // 댓글
      .commentArea {
        width: 875px;
        margin: 46px auto 0 auto;

        // 타이틀
        .title {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 16px;
          font-weight: bold;
          color: $black-four;
          margin: 0 0 9px 0;

          .number {
            font-family: Helvetica, sans-serif;
            font-size: 18px;
            font-weight: normal;
            color: $warm-grey-seven;
          }
        }
        // -- 타이틀
        // 구분선
        .divider {
          width: 100%;
          height: 1px;
          margin: 0 auto;
          background: $black;
          color: $black;
          opacity: 0.3;
        }
        // 댓글 더보기
        .commentMore {
          width: 100%;
          height: 44px;
          // TODO: 컬러칩 정리
          border-bottom: 1px solid #E8E8E8;

          .commentMoreBtn {
            width: 100%;
            height: 44px;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 12px;
            color: $warm-grey-four;
            margin: 0 auto;
            border: none;
            background: none;
            outline: none;
          }
        }
        // -- 댓글 더보기
        // 댓글 목록
        .comments {
          width: 100%;
          margin: 0 0 28px 0;
          padding: 0;
          list-style: none;

          li {
            position: relative;
            padding: 30px 0 27px 0;
            // TODO: 컬러칩 정리
            border-bottom: 1px solid #E8E8E8;

            // 프로필 이미지
            .profileImage {
              position: absolute;
              width: 36px;
              height: 36px;

              img {
                width: 100%;
                height: 100%;
              }
            }
            // -- 프로필 이미지

            // 내용
            .content {
              position: relative;
              margin: 0 0 0 50px;

              .meta {
                float: left;
                margin: 0 0 3px 0;
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 12px;
                font-weight: bold;
                color: $greyish-brown;

                .regDate {
                  color: $pinkish-grey-three;
                  font-weight: normal;
                }
              }
              .comment {
                width: 590px;
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 14px;
                color: $warm-grey-six;
                clear: both;
              }
              // 수정, 삭제 버튼
              .buttons {
                position: absolute;
                top: 0;
                right: 0;

                button {
                  border: none;
                  outline: none;
                  background: none;
                  display: inline-block;
                  font-family: 'Noto Sans KR', sans-serif;
                  font-size: 12px;
                  color: $warm-grey-four;
                }

                .commentEditBtn {
                  margin-right: 14px;

                  &:after {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 12px;
                    background: $white;
                    right: 50%;
                    top: 50%;
                    margin: -6px 0 0 0;
                  }
                }
              }
              // -- 수정, 삭제 버튼

              // 댓글 수정 폼
              .commentEditForm {
                clear: both;
                display: none;

                &.active {
                  display: block;

                  textarea {
                    color: $black;
                  }
                }

                textarea {
                  font-family: 'Noto Sans KR', sans-serif;
                  font-size: 14px;
                  width: 590px;
                  resize: none;
                  border: none;
                  outline: none;
                }

                .buttons {
                  position: absolute;
                  top: 0;
                  right: 0;

                  .commentEditSubmit {
                    position: relative;
                    color: $black;

                    &:after {
                      position: absolute;
                      content: '';
                      width: 1px;
                      height: 12px;
                      background: $white;
                      right: -8px;
                      top: 50%;
                      margin: -6px 0 0 0;
                    }
                  }

                  .commentEditCancelBtn {
                    position: relative;
                    color: $lipstick;

                    &:after {
                      position: absolute;
                      content: '';
                      width: 1px;
                      height: 12px;
                      background: $white;
                      right: -10px;
                      top: 50%;
                      margin: -6px 0 0 0;
                    }
                  }

                  .commentEditSubmit, .commentEditCancelBtn {
                    margin-right: 14px;
                  }

                  button {
                    border: none;
                    outline: none;
                    display: inline-block;
                    font-family: 'Noto Sans KR', sans-serif;
                    font-size: 12px;
                    color: $warm-grey-four;
                  }
                }
              }
              // -- 댓글 수정 폼
            }
            // -- 내용
          }
        }
        // -- 댓글 목록
      }
      // -- 댓글

      // 댓글 입력
      .commentForm {
        position: relative;
        width: 875px;
        height: 100px;
        margin: 0 auto;

        // 댓글 입력창
        .commentInput {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 14px;
          color: $warm-grey-four;
          width: 100%;
          height: 100%;
          padding: 10px 15px;
          border: 1px solid $black-10;
          resize: none;
          outline: none;

          @include placeholder {
            color: $warm-grey-four;
          }

          &:focus, &:active {
            border: 1px solid $warm-grey-nine;
          }
        }
        // -- 댓글 입력창

        // 댓글 입력 버튼
        button[type=submit] {
          position: absolute;
          bottom: 15px;
          right: 13px;
          width: 70px;
          height: 35px;
          background: none;
          border: 1px solid $white-eleven;
          outline: none;
          @include prefix(border-radius, 30px);
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 14px;
          color: $greyish-brown;

          &:hover {
            color: $white-two;
            background: $greyish-brown;
          }
        }
        // -- 댓글 입력 버튼
      }
      // -- 댓글 입력

      // 전시 이력
      .exhibitionArea {
        width: 876px;
        margin: 47px auto 0 auto;

        // 타이틀
        .titleWrap {
          position: relative;
          margin: 0 0 15px 0;

          .title {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: $black-four;
          }

          .sliderControl {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0;
            margin: 0;

            button {
              width: 22px;
              height: 22px;
              padding: 3px 0 1px 0;
              display: inline-block;
              outline: none;
              font-size: 12px;
              background: $white-two;
              border: 1px solid $white-eight;
              color: $warm-grey-two;

              &:not(:first-child) {
                margin-left: 8px;
              }

              &:hover {
                border: 1px solid $warm-grey-four;
                color: $brownish-grey;
              }
            }
          }
        }
        // -- 타이틀

        // 전시 카드들
        .exhibitions {
          list-style: none;
          padding: 0;
          margin: 0;
          width: 100%;
          height: 252px;
          overflow: hidden;

          .item {
            float: left;
            width: 213px;
            height: 252px;
            background: $white-two;
            border: 1px solid $white-nine;

            &:not(:first-child) {
              margin-left: 8px;
            }

            // 전시 카드
            a {
              outline: none;
              text-decoration: none;

              // 썸네일
              .imgThumbnail {
                width: 100%;
                height: 160px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }
              // -- 썸네일
              .meta {
                text-align: left;
                margin: 11px 0 0 14px;

                .name {
                  font-family: 'Noto Sans KR', sans-serif;
                  font-size: 16px;
                  color: $black;
                  letter-spacing: -0.4px;
                  margin-bottom: 4px;
                }
                .date {
                  display: inline-block;
                  font-family: Helvetica Neue, Helvetica, Arial, 'Noto Sans KR', sans-serif;
                  font-size: 12px;
                  color: $greyish;
                }
              }
            }
            // -- 전시 카드
          }
        }
      }
      // -- 전시 이력
    }
  }
}
