@import "../helper/colorchips";
@import "../helper/mixins";
@import "../helper/_radio";

#patDetail {
  width: 875px;

  .container {
    width: 875px;
    padding: 0;
    margin: 0;

    // 업로드 폼
    #patUploadForm {
      margin: 46px 0 0 0;

      // 장소명
      .title {
        input[name=name] {
          width: 100%;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 24px;
          font-weight: 500;
          text-align: center;
          color: $black;
          border: none;
          outline: none;

          @include placeholder {
            color: $warm-grey-four;
          }
        }
      }
      // -- 장소명

      // 대표 장소
      .area {
        position: relative;
        text-align: center;
        margin: 6px 0;

        .pin {
          position: absolute;
          display: inline-block;
          margin-top: 5px;
          width: 8px;
          height: 12px;
          background: url(/static/images/pin.png) no-repeat;
        }

        input[name=area] {
          width: 60px;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 12px;
          color: $black;
          border: none;
          outline: none;
          margin: 0 0 0 10px;
          padding: 0 0 0 5px;

          @include placeholder {
            color: $warm-grey-four;
          }
        }
      }
      // -- 대표 장소

      // 상세 주소
      .address {
        input[name=address] {
          width: 100%;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 12px;
          color: $black;
          text-align: center;
          border: none;
          outline: none;

          @include placeholder {
            color: $warm-grey-four;
          }
        }
      }
      // -- 상세 주소

      // 대표 이미지 업로드
      .mainImage {
        background: $white-twelve;
        position: relative;
        overflow: hidden;
        margin: 50px auto 0 auto;
        max-width: 875px;
        height: 462px;
        outline: 1px solid $white-eleven;

        &:hover {
          outline: 4px solid $black-five-80;

          &.imageSelected {
            .replace {
              display: block;
            }
          }
        }

        // 교체 버튼
        .replace {
          cursor: pointer;
          z-index: 1000;
          display: none;
          position: absolute;
          right: 0;
          top: 0;
          width: 78px;
          height: 42px;
          padding: 11px 0;
          background: $black-five-80;
          color: $white-three;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 12px;
          text-align: center;

          .icon {
            display: inline-block;
            width: 14px;
            height: 10px;
            background: url(/static/images/icon_picture.png) no-repeat;
            margin: 0 3px 0 0;
          }
        }
        // -- 교체 버튼

        input[type=file] {
          z-index: 9;
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 10000px; /* This is the main part. */
          margin: 0;
          padding: 0;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
        }

        img {
          position: absolute;
          z-index: 10;
          height: 462px;
          margin: 0 auto;

          &.hidden {
            display: none;
          }
        }

        // 업로드 관련 설명
        .instruction {
          z-index: 5;
          position: absolute;
          width: 277px;
          height: 142px;
          left: 50%;
          top: 50%;
          margin: -71px 0 0 -138px;
          font-family: 'Noto Sans KR', sans-serif;
          text-align: center;

          .icon {
            font-size: 44px;
            font-weight: 300;
          }
          .upload {
            font-size: 18px;
            font-weight: 500;
            color: $brownish-grey;
            letter-spacing: -0.4px;
          }
          .description {
            font-size: 12px;
            color: $warm-grey-two;
            letter-spacing: -0.2px;
            line-height: normal;
          }
        }
        // -- 업로드 관련 설명
      }
      // -- 대표 이미지 업로드

      // 추가 이미지 업로드
      .additionalImages {
        position: relative;
        width: 875px;
        min-height: 180px;
        margin: 0 auto;

        // 슬라이더
        .slider {
          width: 755px;
          height: 120px;
          overflow: hidden;
          margin: 42px auto 0 auto;
          padding: 0;

          // 아이템
          .item {
            position: relative;
            overflow: hidden;
            width: 120px;
            height: 120px;
            outline: none;
            float: left;
            background: $white-twelve;

            .border {
              position: absolute;
              left: 0;
              top: 0;
              z-index: 11;
              width: 100%;
              height: 100%;
              border: 1px solid $white-eleven;
            }

            &:not(.checked) {
              &:hover {
                .border {
                  border: 4px solid $black-five-80;
                }
              }
            }

            &.imageSelected {
              &:hover {
                .remove {
                  display: block;
                }
              }
            }

            &.checked {
              .remove {
                display: block;
              }

              .border {
                border: 4px solid $tealish;
              }
            }

            &:not(:first-child) {
              margin-left: 7px;
            }

            // 삭제
            .remove {
              display: none;
              cursor: pointer;
              z-index: 1000;
              position: absolute;
              top: 0;
              right: 0;
              width: 36px;
              height: 36px;

              label {
                cursor: pointer;
                position: relative;
                width: 36px;
                height: 36px;
                margin: 0;

                .icon {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  margin: -7px 0 0 -6px;
                  width: 13px;
                  height: 14px;
                  background: url(/static/images/icon_trash.png) no-repeat;
                }
              }

              input[type=checkbox] {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
              }

              input[type=checkbox]:checked + label {
                display: inline-block;
                position: relative;
                cursor: pointer;
                @include prefix(user-select, none);
              }

              input[type=checkbox] + label:before {
                content: '';
                display: inline-block;
                width: 36px;
                height: 36px;
                background: $black-five-80;
              }

              input[type=checkbox]:checked + label:before {
                background: $tealish;
              }
            }
            // -- 삭제

            input[type=file] {
              z-index: 100;
              position: absolute;
              width: 100%;
              height: 100%;
              font-size: 10000px; /* This is the main part. */
              margin: 0;
              padding: 0;
              cursor: pointer;
              opacity: 0;
              filter: alpha(opacity=0);
            }

            img {
              width: 120px;
              height: 120px;

              &.hidden {
                display: none;
              }
            }
          }
          // -- 아이템
        }
        // -- 슬라이더

        // 슬라이더 컨트롤
        .sliderPrevBtn, .sliderNextBtn {
          position: absolute;
          top: 50%;
          margin-top: -37px;
          width: 22px;
          height: 42px;
          border: none;
          outline: none;
        }

        .sliderPrevBtn {
          left: 0;
          background: url(/static/images/detail_slider_left_btn.png);
        }
        .sliderNextBtn {
          right: 0;
          background: url(/static/images/detail_slider_right_btn.png);
        }
        // -- 슬라이더 컨트롤

        // 추가 이미지 관련 설명
        .instruction {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 12px;
          text-align: center;
          color: $greyish-four;
          margin: 14px 0 36px 0;
        }
        // -- 추가 이미지 관련 설명

        // 삭제 설명 관련
        .removeInstruction {
          display: none;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 12px;
          text-align: center;
          color: $tealish;
          margin: 14px 0 36px 0;

          .removeBtn {
            display: inline-block;
            border: 1px solid $tealish;
            padding: 4px 15px;
            margin: 0 0 0 5px;
            @include prefix(border-radius, 30px);
            background: $white-two;
            outline: none;

            &:hover {
              background: $tealish;
              color: $white-two;
            }
          }
        }
        // -- 삭제 설명 관련
      }
      // -- 추가 이미지 업로드

      // 작품 설명
      .descriptionInput {
        width: 100%;
        padding: 15px 25px;
        height: 130px;
        position: relative;
        border: 1px solid $white-eight;

        &.active {
          border-color: $warm-grey-three;
        }

        // 설명 입력 영역
        textarea[name=description] {
          width: 100%;
          height: 60px;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 14px;
          line-height: 1.5;
          color: $black-six;
          resize: none;
          outline: none;
          border: none;

          @include placeholder {
            color: $warm-grey-four;
          }
        }
        // -- 설명 입력 영역

        // 태그 입력
        .tags {
          width: 100%;
          margin-top: 15px;

          input[type=text] {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 12px;
            color: $bluegrey;
            width: 100%;
            border: none;
            outline: none;

            @include placeholder {
              color: $bluegrey;
            }
          }
        }
        // -- 태그 입력
      }
      // -- 작품 설명

      // 옵션
      .options {
        position: relative;
        width: 100%;
        min-height: 185px;
        margin: 40px 0 0 0;
        padding: 26px 0;
        border-top: 1px solid $black-four;
        border-bottom: 1px solid $black-four;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 14px;
        font-weight: normal;

        // 왼쪽 패널
        .leftPane {
          float: left;
          width: 50%;

          // 구분선
          &:after {
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 50%;
            margin-left: -1px;
            right: 0;
            width: 1px;
            content: "";
            background: $white-ten;
          }
        }
        // -- 왼쪽 패널

        // 오른쪽 패널
        .rightPane {
          float: left;
          width: 50%;
          padding-left: 40px;
        }
        // -- 오른쪽 패널
      }
      // -- 옵션

      // 작품 옵션 관련
      .options {
        position: relative;

        .clear {
          clear: both;
        }

        // 옵션 타이틀 (공통)
        .title {
          float: left;
          width: 20%;
          color: $brownish-grey;
        }
        .radio {
          margin: 0;

          input[type=radio], label {
            float: left;
          }

          label {
            margin-right: 20px;
          }
        }
        // -- 옵션 타이틀 (공통)

        // 전시비, 전시 일정, 작품 수 옵션
        .isFree, .exhibitionDate {
          margin: 50px 0 0 0;
        }

        .exhibitionDate {
          .title {
            padding-top: 5px;
          }
          .field {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
            color: $brownish-grey;

            input[type=text] {
              width: 96px;
              height: 30px;
              color: $black-seven;
              border: 1px solid $white-eleven;
              padding: 0 0 0 5px;
              outline: none;

              @include placeholder {
                color: $greyish-four;
              }
            }

            input[name=exhibition_end_date] {
              margin-left: 10px;
            }
          }
        }

        .exhibitionNumber {
          margin: 30px 0 0 0;

          .title {
            padding-top: 5px;
          }

          .field {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
            color: $brownish-grey;

            input[type=text] {
              width: 38px;
              height: 30px;
              color: $black-seven;
              border: 1px solid $white-eleven;
              padding: 0 0 0 5px;
              outline: none;

              @include placeholder {
                color: $greyish-four;
              }
            }
          }
        }
        // -- 전시비, 전시 일정, 작품 수 옵션 옵션
      }
      // -- 작품 옵션 관련

      // 취소, 등록 버튼
      .buttons {
        margin: 60px 0 0 0;
        text-align: center;

        .cancelBtn, .registerBtn {
          padding: 11px 35px;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 18px;
          font-weight: 500;
          text-decoration: none;
          outline: none;
          @include prefix(border-radius, 30px);
        }

        .cancelBtn {
          color: $greyish-brown-three;
          border: 1px solid $greyish-brown-three;
          margin-right: 30px;
        }
        .registerBtn {
          color: $white-two;
          background: $black-five;
          border: 1px solid $black-five;
        }
      }
      // -- 취소, 등록 버튼
    }
    // -- 업로드 폼
  }
}
