@import "../helper/colorchips";
@import "../helper/mixins";

body {
  #patContents {
    &.container {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
  .exhibitionMeta {
    position: relative;
    width: 100%;
    height: 168px;

    .dimm {
      z-index: 4;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(34, 34, 34, 0.6);
    }

    .preview {
      z-index: 3;
      position: absolute;
      top: 0;
      color: $white-two;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 16px;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .container {
      position: relative;
      display: block;
      margin: 0 auto;
      z-index: 5;

      .meta {
        margin-top: 46px;

        .title {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 24px;
          font-weight: 500;
          letter-spacing: -0.5px;
          color: $white-two;
          margin-bottom: 7px;
          height: 36px;

          a {
            color: $white-two;
          }
        }

        .additionalInfo {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 16px;
          height: 24px;
          letter-spacing: -0.3px;
          color: $white-60;
        }
      }
    }
  }

  #patDetail {
    .container {
      margin: 0 auto;
      padding: 0;

      .exhibitions {
        margin-top: 20px;

        .divider {
          width: 100%;
          height: 1px;
          margin-top: 14.5px;
          background: #a3a3a3;
        }

        .addExhibition {
          a {
            text-decoration: none;
          }

          .addExhibitionText {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px;
            color: $black-seven;
            vertical-align: middle;
            margin-left: 9px;
          }
        }

        .exhibition {
          background-color: $white-two;
          border: solid 1px $white-eleven;
          padding: 26px 32px 25px 28px;
          margin-bottom: 13.5px;

          &.active {
            border: 1px solid $black;
          }

          .modifyBtn, .deleteBtn, .confirmBtn {
            padding: 3px 8px;
            margin: 1px;
            text-align: center;
            width: 52px;
            height: 26px;
            opacity: 1;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 12px;
            text-decoration: none;
            float: left;
            outline: none;
            list-style: none;
            @include prefix(border-radius, 30px);
          }

          .modifyBtn {
            color: $greyish-brown;
            border: 1px solid $brownish-grey-40;

            &:hover {
              background: $brownish-grey;
              color: $white;
            }
          }

          .deleteBtn {
            color: #de3434;
            border: 1px solid $pale-red-40;

            &:hover {
              background: $pale-red;
              color: $white;
            }
          }

          .confirmBtn {
            margin-left: 13px;
            color: $black;
            border: 1px solid $black-40;

            &:hover {
              background: $black;
              color: $white;
            }
          }

          .title {
            vertical-align: -5%;

            font-family: 'Noto Sans KR', sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: $black-seven;

            input[type=text] {
              width: 700px;
              border: none;
              outline: none;

              @include placeholder {
                color: $warm-grey-ten;
              }
            }
          }

          .status {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 13px;
            margin-left: 6px;

            &.now {
              color: $copper;
            }
            &.ended {
              color: $warm-grey-four;
            }
          }

          .divider {
            width: 100%;
            height: 1px;
            margin-top: 14.5px;
            background: $white-eight;
          }

          .meta {
            font-size: 14px;
            line-height: 1.5;
            color: $greyish-brown;

            // 왼쪽 패널
            .leftPane {
              vertical-align: top;
              display: inline-block;
              width: 49%;

              // 구분선
              border-right: solid 1px #d8d8d8;
            }
            // -- 왼쪽 패널

            // 오른쪽 패널
            .rightPane {
              display: inline-block;
              width: 40%;
              padding-left: 40px;
            }
            // -- 오른쪽 패널

            .fields {
              margin: 30px 0 0 0;

              &.clear {
                clear: both;
              }

              .radio {
                display: inline-block;
                vertical-align: middle;
                margin: 0;

                input[type=radio], label {
                  float: left;
                }

                label {
                  margin-right: 20px;
                }
              }
              .column_name {
                float: left;
                width: 20%;
                color: $brownish-grey;
              }
              .title_name {
                float: left;
                color: $brownish-grey;
                width: 70px;
              }
              .field {
                &.noInput {
                  width: 50%;
                  display: inline-block;
                }
              }
            }

            .exhibitionDate {
              .column_name {
                padding-top: 5px;
              }
              .field {
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 14px;
                color: $brownish-grey;

                input[type=text] {
                  width: 96px;
                  height: 30px;
                  color: $black-seven;
                  border: 1px solid $white-eleven;
                  padding: 0 0 0 5px;
                  outline: none;

                  @include placeholder {
                    color: $greyish-four;
                  }
                }

                input[name=exhibition_end_date] {
                  margin-left: 10px;
                }
              }
            }

            .exhibitionNumber {
              margin: 30px 0 0 0;

              .column_name {
                padding-top: 5px;
              }

              .field {
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 14px;
                color: $brownish-grey;

                input[type=text] {
                  width: 38px;
                  height: 30px;
                  color: $black-seven;
                  border: 1px solid $white-eleven;
                  padding: 0 0 0 5px;
                  outline: none;

                  @include placeholder {
                    color: $greyish-four;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
