.radio {
  // magic radio 커스텀
  .magic-radio+label:hover:before {
    @include prefix(animation-name, none);
    border-color: $black-five;
  }

  .magic-radio:checked+label:before {
    border-color: $black-five;
  }

  .magic-radio+label:after {
    background: $black-five;
  }
  // -- magic radio 커스텀
}
