/* PICK ART YOU BASE COLOR CHIPS */

$black: #000000;
$black-10: rgba(0, 0, 0, 0.1);
$black-40: rgba(0, 0, 0, 0.4);
$black-66: rgba(0, 0, 0, 0.66);
$black-80: rgba(0, 0, 0, 0.8);
$black-four: #111111;
$black-five: #333333;
$black-five-50: rgba(50, 50, 50, 0.5);
$black-five-80: rgba(50, 50, 50, 0.8);
$black-six: #262626;
$black-seven: #222222;
$black-seven-80: rgba(34, 34, 34, 0.8);

$white: #eeeeee;
$white-60: rgba(255, 255, 255, 0.6);
$white-two: #ffffff;
$white-three: #f5f5f5;
$white-five: #f9f9f9;
$white-six: #d4d4d4;
$white-seven: #c4c4c4;
$white-eight: #e5e5e5;
$white-nine: #dedede;
$white-ten: #d8d8d8;
$white-eleven: #dddddd;
$white-twelve: #f3f3f3;
$white-thirteen: #e0e0e0;
$white-fourteen: #e7e7e7;
$white-fifteen: #f6f6f6;

$greyish: #adadad;
$greyish-two: #a8a8a8;
$greyish-three: #b7b7b7;
$greyish-four: #acacac;
$greyish-five: #a5a5a5;
$greyish-six: #b6b6b6;
$greyish-seven: #aeaeae;

$warm-grey: #a2a2a2;
$warm-grey-two: #888888;
$warm-grey-four: #999999;
$warm-grey-three: #a0a0a0;
$warm-grey-five: #777777;
$warm-grey-six: #707070;
$warm-grey-seven: #757575;
$warm-grey-eight: #8f8f8f;
$warm-grey-nine: #a1a1a1;
$warm-grey-ten: #929292;

$brownish-grey: #666666;
$brownish-grey-40: rgba(102, 102, 102, 0.4);
$brownish-grey-two: #5a5a5a;
$brownish-grey-three: #6d6d6d;

$pinkish-grey-two: #c6c6c6;
$pinkish-grey-three: #bbbbbb;
$pinkish-grey-four: #c3c3c3;
$pinkish-grey-five: #cccccc;
$pinkish-grey-six: #c8c8c8;

$bluegrey: #778da7;

$greyish-brown: #444444;
$greyish-brown-two: #434343;
$greyish-brown-three: #555555;

$tealish: #23c9be;

$dull-orange: #cb8334;
$dusty-orange: #e57625;

$warm-blue: #383bd5;

$bluish: #1e8fcb;

$cobalt-16: rgba(31, 53, 127, 0.16);

$lipstick: #d31d28;

$pale-red: rgba(222, 52, 52, 1);
$pale-red-40: rgba(222, 52, 52, 0.4);

$copper: #be7028;
$cornflower: #5376f3;
$dark-sky-blue: #5082e2;
