@import "../helper/colorchips";
@import "../helper/mixins.scss";

body {
  background: url(/static/images/landing/bg.png) center center no-repeat;
  background-size: cover;
}

html, body {
  height: 100%;

  // 상단 메뉴
  #patTop {
    display: none;
  }
  // -- 상단 메뉴

  #patContents {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 -180px 0;
    padding: 0;

    // 로그인
    .patLogin {
      position: absolute;
      width: 353px;
      height: 587px;
      top: 50%;
      left: 50%;
      margin: -330px 0 0 -176px;

      .container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

        // 로고
        .logo {
          width: 194px;
          height: 23px;
          margin: 0 auto 9px auto;
          background: url(/static/images/landing/logo.png) center center no-repeat;
          @include prefix(background-size, cover);
          @include retina-image('/static/images/landing/logo@2x.png', 100%, 100%);
        }
        // -- 로고

        // 타이틀
        .title {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 18px;
          font-weight: normal;
          text-align: center;
          letter-spacing: normal;
          line-height: normal;
          font-stretch: normal;
          color: $white-two;
        }
        // -- 타이틀

        // 로그인 폼
        .loginForm {
          width: 353px;
          height: 490px;
          background: $white-two;
          @include prefix(border-radius, 4px);
          margin: 38px 0 0 0;
          padding: 50px 0;
          text-align: center;

          // 페이스북 로그인 버튼
          .facebookBtn {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
            border: none;
            @include prefix(border-radius, 5px);
            letter-spacing: 0.3px;
            text-align: center;
            width: 300px;
            height: 46px;
            background: rgb(44, 81, 169);
            color: $white-two;

            .bold {
              font-weight: bold;
            }
          }
          // -- 페이스북 로그인 버튼

          // 디바이더
          .divider {
            display: inline-block;
            width: 176px;
            height: 19px;
            background: url(/static/images/or_divider.png) center center no-repeat;
            margin: 10px 0;
          }
          // -- 디바이더

          // 입력 폼
          fieldset {
            input {
              font-family: 'Noto Sans KR', sans-serif;
              font-size: 12px;
              padding: 0 0 0 14px;
              color: $black;
              width: 297px;
              height: 45px;
              border: 1px solid $white-ten;
              margin-bottom: 22px;
              outline: none;
              @include prefix(border-radius, 5px);

              @include placeholder {
                opacity: 0.8;
              }
            }
          }
          // -- 입력 폼

          // 로그인 버튼
          button[type=submit] {
            width: 300px;
            height: 37px;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px;
            color: $white-two;
            background: $black;
            border: none;
            @include prefix(border-radius, 5px);
          }
          // -- 로그인 버튼

          .patLoginExcept {
            margin: 15px 0 0 0;

            .passwordFind {
              text-align: left;

              a {
                font-size: 12px;
                margin: 0 0 0 30px;
                cursor: pointer;
                color: $black-five;
                text-decoration: underline;
              }
            }

            .join {
              padding: 45px 0 0 0;
              font-family: 'Noto Sans KR', sans-serif;
              font-size: 12px;
              line-height: 1.67;
              letter-spacing: 0.2px;
              color: $greyish-five;

              a {
                color: $greyish-five;
                text-decoration: underline;
              }
            }
          }
        }
        // -- 로그인 폼
      }
    }
    // -- 로그인
  }

  // 하단 푸터
  #patFooter {
    display: none;
  }
  // -- 하단 푸터
}
